<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Moja Strona</title>
        <style>
        body{
            text-align: center;

        }
        #wrapper{

            width: 700px;

            margin-left: 250px;
            background-color: #EBDCDC;
            text-align: left;
        }
            #sidebar{
                background-color: #EBDCDC;
                float: left;
                width: 200px;
            }
            #content{
                background-color: #EBDCDC;
                float: left;
                width: 500px;
                text-align: left;
            }
            .post{
                text-align: center;
            }
            .wpis{
                text-align: center;
            }
            #log{
                float: left;
                width: 100px;;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
        <div id="log">
            {% if user.is_authenticated %}
                <p>Witaj, {{ user.username }}</p>
                {% else %}
                <p>Hej nieznajomy</p>
            {% endif %}
        </div>
        <h1 style="text-align: center"> Django microblog</h1>

        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/blog">Blog</a></li>
                <li><a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/blog/create/">Dodaj wpis</a></li>
                <li><a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/admin/">Admin</a></li>
                {% if user.is_authenticated %}
                    <li><a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/accounts/logout/">Wyloguj</a>
                        {% else %}
                <li><a href="/blog/accounts/login/">Login</a></li>
                {% endif %}
                <li><a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/accounts/register/">Rejestracja</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}Domyslna tresc{% endblock %}
        </div>
        </div>


    </body>
</html>