{%  extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/blog">Wroc</a></li>
</ul>
{% endblock %}
{% block content %}
    {% if wiad %}
        <h3 style="text-align: center">{{ wiad }}</h3>
    {% endif %}
<form action="" method="post">{% csrf_token %}
<ul>
     {{ form.as_ul }}
</ul>
<input type="submit" value="Dodaj wpis">
</form>

{% endblock %}