{%  extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/blog">Wroc</a></li>
</ul>
{% endblock %}
{% block content %}
    <h2>Blad strony!!</h2>
    <h3>Mozliwe ze podales zly adres ktory nie istnieje!</h3>
{% endblock %}