{% extends "base.html" %}

{% block content %}
{% if  articles.count > 0 %}
<div id="wpis">
    {% if user.is_authenticated %}
        <div style="text-align: center;">
                <a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/blog/filter/">Pokaz moje wpisy</a>
        <hr>
        </div>
    {% endif %}

{% for wpis in articles %}
    <div class="post">
    <div class="title">
    Tytul: <a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/blog/get/{{ wpis.id }}/"> {{ wpis.tytul }} </a><br></div>
    <div class="content">
    Tresc: {{ wpis.tresc }}<br></div>
    <div class="sign">
    Podpis: {{ wpis.podpis }}<br></div>
    <hr>
    </div>
    {% endfor %}
</div>

{% else %}
    <p>Nie ma wpisow</p>
{% endif %}

{% endblock %}
