{% extends "base.html" %}

{% block content %}
    <h2>Twoje dane do logowania sa nieprawidlowe</h2>
    <p>Kliknij tu <a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/accounts/login/">zaloguj</a> aby sie ponownie zalogowac</p>
{% endblock %}