{% extends "base.html" %}

{% block content %}

    <h2>Witaj {{ full_name }}, jestes zalogowany</h2>
    <p>Kliknij tu <a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/accounts/logout/">wyloguj</a> aby sie wylogowac.</p>
{% endblock %}