{% extends "base.html" %}

{% block content %}

    {%  if form.errors %}
        <p class="error">Przykro mi, podales zle haslo lub login </p>
    {% endif %}
    <h2>Zaloguj sie!</h2>
    <form action="" method="post">{% csrf_token %}
        <label for="username">Login: </label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Haslo: </label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="login" />

    </form>

{% endblock %}