{%  extends "base.html" %}

{% block content %}

    <h2>Udalo Ci sie zarejestrowac!</h2>
    <p>Kliknij tu <a href="http://194.29.175.240/~p18/djangocms.wsgi/pl/blog/accounts/login/">login</a> aby sie zalogowac </p>

{% endblock %}