{%  extends "base.html" %}

{% block content %}

    <h2>Rejestracja</h2>
    {%  if wiad %}
        <p style="color:#ff3f3e" >{{ wiad }} </p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <table>
    {{ form.as_table }}
        </table>
    <input type="submit" value="Zarejestruj sie" />
    </form>

{% endblock %}