{% extends "base.html" %}

{% block content %}
<h1>{{ poll }}</h1>

{% if form.errors %}
<p style="color: red;">Proszę poprawić poniższe błędy</p>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" name="vote" value="Zmień"/>
</form>
{% endblock %}