{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<form action="" method="post"> {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_subject">Temat:</label>
        {{ form.subject }}
    </div>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message">Wiadomość:</label>
        {{ form.message }}
    </div>
    <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label for="id_sender">Twój adres:</label>
        {{ form.sender }}
    </div>
    <div class="fieldWrapper">
        {{ form.cc_myself.errors }}
        <label for="id_cc_myself">Wyslać tobie kopię?</label>
        {{ form.cc_myself }}
    </div>
    <p><input type="submit" value="Wyślij" /></p>
</form>
{% endblock %}